body {
  background: linear-gradient(to right, rgb(29, 2, 2), black, black);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: 62.5%;
}
/* #logoDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
} */
#Remember {
  /* margin-right: 2rem; */
}
#flexRememberAndForgot{
  display: flex;
  padding-bottom: 1rem;
  /* gap: 1rem; */
  /* width: 100vw; */
}
#flexRememberAndForgot a{
  margin-left: 5rem;
}
form {
  font-size: medium;
  background: white;
  width: 50vw;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
label {
  color: #330303;
}
/* #emailContainer {
  width: 50vw;
  height: 80vh;
  display: flexbox;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: aqua;
} */
#Form-Group {
  font-size: 1.1rem;
  width: 100%;
  height: 100%;
  /* background-color: red; */

  justify-content: center;
  align-items: center;
}
/* input {
  margin-left: 50px;
} */
 button:hover{
  background: hsl(0, 89%, 25%);
  font-size: 1.15rem;
 }
button {
  background: #330303;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 17px;
}
a {
  color:  hsl(261, 93%, 37%);
}
a:active {
  color: #330303;
}
a:hover {
  cursor: pointer;
  color: hsl(261, 93%, 17%);
}
#logoDiv {
  font-size: large;
  font-weight: bold;
}
img {
  max-width: 50px;
  border-radius: 25px;
}
img + label {
  float: right;
  font-size: 2rem;
  text-transform: uppercase;
}
input:focus{
  border: 0;

}

input[type ="text"], input[type="password"]{
 width: 100%;
}
input {
  /* width: 70%; */
  border-radius: 5px;
  padding: 0.3rem;
  border: 1px solid silver;
 
}
@media screen and (max-width:768px){
html{
  font-size: 62.5%;
}
#logoDiv{
  padding: 2rem;
  display: flex;
  justify-content: center;
align-items: center;
gap:1rem}
form{
  /* width: 100vw; */
  margin: 3rem;
  padding: 2rem;
}
img + label{
  font-size: 2.5rem;
}
input{
  font-size: 2rem;
}
label{
  font-size: 1.9rem;
}
a{
  font-size: 2rem;
}
input[type ="text"], input[type="password"]{
 width: 70%;
}
#flexRememberAndForgot{
  display: flex;
  padding-bottom: 1rem;
  gap: 1rem;
  width: 100vw;
}
#Remember {
  /* margin-right: 3rem; */
}
}